* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --title-font: 'Wallpoet', cursive;
    --game-font: 'Roboto Serif', serif;
    --font-size: 62.5%
}



body {
    position: absolute;
    /* min-height: 100vh; */
    width: 100%;
    font-family: var(--game-font);
    font-size: var(--font-size);
}


/* Modalita senza background-image */
.bg-img {
    position: fixed;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.title {
    font-family: var(--title-font);
    font-size: 3.3rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-shadow: 1px 2px 1px white;
    text-align: center;
    margin-top: 50px;
}

.main-content {
    background-color: rgba(240, 248, 255, 0.044);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px 0 30px;
    margin: 20px auto;
}


.choice-mokepon-title{
    font-weight: 500;
    color: rgb(238, 224, 201);
    font-size: 1.4rem;

}

.mokepons {
    display: flex;
    /* background-color: aqua ; */
    margin: 20px 0px;
    justify-content: space-around;
    align-items: center;
}

.mokepons label {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100px;
   padding: 10px;
   border: 1px solid;
   border-radius: 10px;
   
}

.mokepons label p {
    color: aliceblue;
    font-size: 1rem;

}

.mokepons label img {
    display: block;
    width: 80px;
    margin: 10px 0;
}

.mokepons label input {
    width: 16px;
    height: 16px;
    
}

.btn-start {
    width: 100px;
    height: 30px;
    background-color: aqua;
    border: 1px solid skyblue;
    font-weight: 700;
    border-radius: 3px;
    font-family: var(--game-font);
    font-size: .9rem;
}

.battle-init {
    
}

.battle-init .battle-init--title {
    color: white;
    font-size: 1.2rem;
}

.battle-init .btn-container button {
    margin: 20px 0px;
    width: 80px;
    height: 36px;
    font-size: 1.2rem;
}

.battle-init .combat-messaggi section {
    text-align: initial;
}

.battle-init .combat-messaggi section .player {
    color:seashell;
    font-size: 1rem;
    font-weight: 300;
  
}

.battle-init .combat-messaggi section .winner {
    color: rgb(9, 9, 207);
    font-size: 1.5rem;
    font-weight: 500;
}

/* .mokepons input {
    display: none;
} */

/* Modalita con background-image */
/* .bg-img  {
    position: absolute;
    background-image: url(/img/105a97cef7ebd4016bf99b3b171f3967.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
} */

/* Modalita con contenitore padre su position absolute con immagine di size 100% e display block */
/* .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

