* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --title-font: 'Wallpoet', cursive;
    --game-font: 'Roboto Serif', serif;
    --font-size: 62.5%
}



body {
    position: absolute;
    /* min-height: 100vh; */
    width: 100%;
    font-family: var(--game-font);
    font-size: var(--font-size);
}


/* Modalita senza background-image */
.bg-img {
    position: fixed;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.title {
    font-family: var(--title-font);
    font-size: 3.3rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-shadow: 1px 2px 1px white;
    text-align: center;
    margin-top: 50px;
}

.main-content {
    display: flex;
    background-color: rgba(240, 248, 255, 0.044);
    text-align: center;
    flex-direction: column;
    padding: 30px 0 30px;
}


.choice-mokepon-title{
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.558);
    padding: 10px 0;

}

.mokepons {
    display: flex;
    margin: 20px 0px;
    justify-content: space-around;
    align-items: center;
}

.mokepons label {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 110px;
   padding: 10px;
   border-radius: 10px;
   
}

.mokepons label p {
    font-size: 1rem;
    font-weight: 800;
    text-decoration: underline;
}

.mokepons label:hover {
    border: .5px solid;
    color: white;
    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 5px black;
}

.mokepons .bg-water:hover {
    background-image: url(../img/waterbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* color: navy; */
}

.mokepons .bg-plant:hover {
    background-image: url(../img/grassbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* color: lime; */
}

.mokepons .bg-fire:hover {
    background-image: url(../img/firebg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* color: crimson; */
}

.mokepons label img {
    display: block;
    width: 100px;
    padding: 10px 0;
}

.mokepons label input {
    width: 16px;
    height: 16px;
    
}

.btn-start {
    width: 130px;
    height: 40px;
    background-color: rgba(0, 255, 255, 0.458);
    border: 1px solid rgb(2, 29, 40);
    font-weight: bold;
    border-radius: 3px;
    font-family: var(--title-font);
    font-size: 1.2rem;

}

/* .battle-init {
   
} */



.battle-init .battle-init--title {
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.558);
    padding: 10px 0;
}

.battle-init .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}



.battle-init .btn-container button {
    margin: 20px 0px;
    width: 86px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #ffffff00;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 3px ;
    cursor: pointer;
    border: 2px solid rgb(1, 16, 19);
    background-color:darkslategrey;
 
}

.battle-init .btn-container button:nth-child(2) {
    margin: 0px 20px;
}


.battle-init .resultati-messaggi {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 255, 255, 0.149);
    padding-top: 20px;
}

/* .battle-init .resultati-messaggi p {
    
} */

.battle-init .resultati-messaggi .player {
    color:seashell;
    font-size: 1.5rem;
    font-weight: 300;
  
}

.battle-init .resultati-messaggi .player img {
    width: 60px;
}

.battle-init .resultati-messaggi .winner {
    width: 200%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: black;
    padding: 10px 0;
    margin-top: 10px;
  
}

.mokepons-lifes {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.mokepons-lifes figure {
    display: block;
    width: 100px;
    height: 100px;
}

.mokepons-lifes figure img {
    width: 100%;
    height: 100%;
}

.mokepons-lifes div p{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-family: var(--title-font);
    line-height: 1.3;
    text-shadow: 1px 1px 5px red;
    
}

.mokepons-lifes p {
    font-size: 1.2rem;
    color: white;
}

.mokepons-lifes p span:nth-child(2) {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: aqua;
    background-color: #000;
    border-radius: 50%;
}

.end-game-results {
    font-size: 1.2rem;
    color: white;
}

.btn-restart-game {
    display: inline-block;
    color: navy;
    font-weight: 700;
    height: 30px;
    padding: 2px 5px;
    border: 4px groove white;
    margin: 10px 0px;

}
.mokepons input {
    display: none;
}

/* Modalita con background-image */
/* .bg-img  {
    position: absolute;
    background-image: url(/img/105a97cef7ebd4016bf99b3b171f3967.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
} */

/* Modalita con contenitore padre su position absolute con immagine di size 100% e display block */
/* .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

